html,body
  color #333
.u-text-center
  text-align center
.status
  background-color rgb(255,255,200)
  font-family monospace, monospace
  font-size 1em
  margin 25px 0
  transition 0.4s ease
  height 0
  color transparent
  overflow scroll
  padding 0 20px
  &.show
    padding 25px
    color #333
    height 100px
.parameters
  margin 10px 0 0
  input,button,select,textarea
    width 100%
  button
    position relative
    .fa
      position absolute
      left 15px
      top 0px
      line-height 38px